body, html {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100%;
  }
  
  .homepage {
    min-height: 100vh;
    color: #9a83af;
    display: flex;
    flex-direction: column;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #080808;
    color: rgb(137, 87, 179);
    padding: 1rem;
  }
  
  .logo {
    font-size: 2.0rem;
    font-weight: bold;
    font-style: italic;
  }
  
  .search-bar {
    display: flex;
    gap: 1.5rem;
  }
  
  .search-bar input {
    padding: 0.5rem;
    border: #9a83af;
    border-radius: 5px;
  }
  
  .search-bar button {
    padding: 0.5rem 1rem;
    background-color: rgb(146, 79, 190);
    border: none;
    color: #020003;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
    transition: background-color 0.3s ease, transform 0.1s ease;
  }

  .search-bar button:hover {
    background-color: rgb(46, 7, 73); /* Lighter shade for hover effect */
    color: white;
  }

  .search-bar button:active {
    background-color: rgb(120, 80, 140); /* Darker shade for active effect */
    transform: scale(0.98); /* Slightly reduce size to indicate click */
  }

  .album-cover {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }  
  
  .user-icon {
    font-size: 1.5rem;
  }
  
  .nav-bar {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 200px;
    background-color: #301c33;
    height: 100%;
    padding: 1rem;
    border-right: 1px solid #301c33;
  }
  
  .nav-bar button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
  }
  
  .listen-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
  }
  
  .listen-button:hover {
    background-color: #d2b1f0; /* Darker shade for hover effect */
    color: black;
  }

  .user-playlists {
    margin-top: 1rem;
  }
  
  .playlist-item {
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: rgb(0, 0, 0);
    border: 1px solid #000000;
    border-radius: 4px;
  }
  
  .content {
    margin-left: 220px;
    padding: 2rem;
  }
  
  .recommended-playlists,
  .spotify-playlists {
    margin-bottom: 2rem;
  }
  
  .playlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .playlist-card {
    padding: 1rem;
    background-color: #331e41;
    color: white;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
  }
  